body {
    font-family: Roboto;
    background-color: black;
}

select, input {
    margin-bottom: 5%;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    color: black;
    border-bottom: 2px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    scroll-behavior: smooth;
    width: 100%;
    background: transparent;
}

::placeholder, select, option {
    color: grey;
    font-weight: 550;
}

input {
    width: 60%;
}

.logInRequired {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 30%;
    height: 30%;
    background-color: white;
    border-radius: 10px;
}

button {
    margin-top: 0%;
    font-family: Roboto;
    font-size: large;
    width: 60%;
    background-color: black;
    color: white;
    height: 10%;
    border: 0;
    border-radius: 5px;
}