label, h1, h2, h3, h4, h5, a, p, button {
    font-family: Roboto;
}

::placeholder, select, option {
    color: grey;
    font-weight: 550;
}

body {
    margin: 1%;
    background-color: black;
}

h2 {
    color: white;
}

.keySide {
    background-color: white;
    border-radius: 10px;
    float: left;
    width: 75.5%;
}

.controller {
    position: relative;
    display: block;
    align-items: center;
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    margin-left: 1%;
    margin-right: 1%;
}

.controller a {
    margin-right: 50px;
}

.controller input {
    height: 25px;
    border-style: solid;
    border: black;
}

.leftSideController {
    position: absolute;
    text-align: left;
    display: inline;
}

.rightSideController {
    float: right;
    display: inline;
}

.analyticsSide {
    font-family: Roboto;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    float: right;
    width: 23.5%;
    height: 1020px;
}