.heading {
    margin: 0;
    margin-right: .5%;
    font-family: 'Roboto';
    font-size: xx-large;
    float: right;
}

#first {
    color: #9966FF;
}

button {
    margin-top: 22.5%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'Roboto';
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
    padding: .5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

button:hover {
    font-family: 'Roboto';
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    padding: .5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}