<!DOCTYPE html>
<html>

  <%- include('../inc/adminHeader') %> 
  <link rel="stylesheet" href="/adminAccess.css">

<body>
  <div class="keySide">
    <div class="controller">
        <div class="leftSideController">
            <a>Sort by renewal date</a>
            <a>Sort by creation date</a>
            <a>Show first unbinded</a>
        </div>
        <div class="rightSideController">
            <input type="text" placeholder="Find by Discord ID">
            <input type="text" placeholder="Find by key">
        </div>
    </div>
    <hr>
  </div>
  <div class="analyticsSide">
    <h3>Analytics</h3>
  </div>
</body>

</html>