<!DOCTYPE html>
<html>

<%- include('../inc/adminHeader') %> 
<link rel="stylesheet" href="/admin.css">

<body>
    <img src="./imgs/logo.svg" style="position: absolute; height: 5%; margin-left: .5%;">
    <div class="logInRequired">
        <form action="/admin" method="post">
            <h1 id="welcomeLabel">Welcome to admin panel</h1>
            <input placeholder="Login" name="login" type="text">
            <input placeholder="Password" name="password" type="password">
            <button type="submit">Log in</button>
        </form>
    </div>
</body>

</html>