<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Degosh</title>
    <link rel="stylesheet" href="/index/styles/index.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
	<div class="content">
		<div id="upperDiv">
			<img id="giantLogo" src="/index/imgs/degoshLogo.svg">

			<div id="outOfStockDiv">
				OUT OF STOCK !
			</div>
		</div>

		<div id="lowerDiv">
			<div id="lowerIconsDiv"> 
				<img id="instagram" class="socialIcon" src="/index/imgs/instagram.svg">
				<img id="twitter" class="socialIcon" src="/index/imgs/twitter.svg">
				<img id="vkcom" class="socialIcon"  src="/index/imgs/vk.svg">

				<!--horizontal 68px line-->
				<div id="hl"></div>					

				<button id="dashboardBtn">Dashboard</button>
			</div>

			<div id="footerDiv">
				<div id="footerTextDiv"> 
					<span class="boldFooter">Degosh.</span>
					<span class="normalFooter">
						Ready To Cook. Design by
					</span>
					<span class="boldFooter">
						Yasha.
					</span>
					<span class="normalFooter">
						Copyright©2021. All Rights Reserved. Developod in Russia. For contact, bug report, threats,
						blackmail and spam messages please address
					</span>
					<span class="boldFooter">
						degosh@degosh.com
					</span>
					<div id="FooterDiv">
				</div>
			</div>
		</div>
	</div>
</body>

</html>